$cardcoloruno:rgb(250, 247, 81);
.card {
    display: flex;
    height: fit-content;
    margin: 2rem;

    &-img-top {
        border: 1px;
        border-color: black;
        border-style: solid;
        border-radius: 2px;
    }
}

.info_proyecto {
    display: flex;
    height: 23rem;
    border: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    background-color: $cardcoloruno;
}

.titulo_proyecto {
    text-align: center;
    display: flex;
    align-items: center;
    background-color: aliceblue;
    padding: 1rem;
}

.texto_info {
    display: flex;
    width: 100%;
    align-items: center;
    text-align: justify;
    padding: 2rem;
}

.imagen_proyecto {
    width: 100%;
    border: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    background-color: aliceblue;
}
@mixin flex-center{
    display: flex;
    align-items: center;
}
.imagen_proyecto{
    @include flex-center();
}