.footer_index{
    background-color:#edf6f9;
    display: flex;
    position: absolute;
    width: 100%;
    height: 12rem;
    bottom: 0;
    text-align: start;
    justify-content: center;
    align-items: center;
}
.logo_footer{
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight:500;
}
.footer_ecommerce{
    background-color:#edf6f9;
    display: flex;
    position: absolute;
    width: 100%;
    height: 21rem;
    bottom: 5;
    text-align: start;
    justify-content: center;
    align-items: center;
}