footer {
    background-color: rgba(128, 128, 128, 0.342);
    display: flex;
    border-color: black;
    border-style: ridge;
    align-items: right;
    justify-content: right;
    padding-right: 1%;
    text-align: end;
}