@media screen and (max-width:1380px){
    .texto_info{
        font-size: small;
    }
}
@media screen and (max-width: 1280px) {
    .container_nav {
        width: 100%;
    }
}
@media screen and (max-width: 1200px) {    
    .texto_info{
        width: max-content;
    }
    .container_ecommerce{
        padding-top:70vh;
    }
}
@media screen and (max-width: 900px){
    .informacion_bienvenida{
        width:100%;
        height: max-content;
    }
}
@media screen and (max-width: 770px) {
    body{
        padding-bottom: 0vh;
    }
    .content_section{
        height: max-content;
    }
    .informacion_bienvenida{
        margin-top: 5vh;
    }
    .section_info_index{
        height: 100%;
        position: relative;
    }
    .img_html{
        height: 10vh;
    }
    .wrapper{
        margin-top:5vh;
        height: 100%;
        padding-bottom: 25vh;
    }
    .footer_index{
        padding-top: 15vh;
    }
    .label {
        display: grid;
        cursor: pointer;
        grid-column: 3;
        padding-right: 10px;
    }

    .content_nav {
        display: grid;
        grid-template-columns: 1fr;
        grid-column: 1/4;
        text-align: center;
        max-height: 0;
        overflow: hidden;
        transition: all ease-in-out 0.6s;
    }

    .nav_checkbox input:checked~.content_nav {
        max-height: 500px;
    }

    .content_nav li {
        padding: 15px 0px;
    }
}
@media screen and (max-width: 600px){
    .texto_info{
        font-size: smaller;
        
    }
}
@media screen and (max-width: 450px){
    .img_html{
        height: 8vh;
    }
}

@media (prefers-reduced-motion) {
    .wrapper {
        animation: scroll 200s linear infinite;
    }
}
