body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  padding-bottom: 21rem;
  background-color: #edf6f9;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.404);
}

.conteiner_nav {
  width: 1280px;
  margin: auto;
}

.nav_checkbox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 10px 0px;
}

.logo {
  text-decoration: none;
  color: white;
  padding-left: 10px;
}

.tab-nav {
  outline: none;
  display: none;
}

.label {
  display: none;
  color: white;
}

.burger {
  width: 35px;
  height: 5px;
  background-color: white;
  margin-top: 5px;
}

.content_nav {
  grid-column: 3;
  list-style: none;
  margin: 0;
  padding: 0;
}
.content_nav li {
  display: inline-block;
  padding-right: 10px;
}
.content_nav li a {
  text-decoration: none;
  color: white;
  position: relative;
}
.content_nav li a:hover::after {
  transform: scale(1, 1);
}
.content_nav li a::after {
  content: "";
  display: block;
  height: 2px;
  background-color: white;
  position: absolute;
  left: 0;
  right: 0;
  transform-origin: right;
  transform: scale(0, 1);
  transition: transform ease-in-out 0.5s;
}

.content_section {
  height: 120vh;
  background-image: url(/images/fondo-hero.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  justify-items: center;
  align-items: center;
}

.card {
  display: flex;
  height: fit-content;
  margin: 1rem;
  background-color: rgba(0, 0, 0, 0.725);
  height: 60vh;
  color: #111111;
}
.card-img-top {
  border: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 2px;
}

.card-body {
  background-color: rgba(166, 179, 190, 0.7058823529);
}

.col-md {
  background-color: rgba(0, 0, 0, 0.433);
}

.informacion_bienvenida {
  background-color: rgba(255, 255, 255, 0.3019607843);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  height: 79vh;
  margin: 3%;
  border-radius: 1%;
}

.titulo_texto_inicio {
  font-size: xx-large;
  padding-top: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.texto_inicio {
  font-size: large;
  padding-top: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.texto_inicio_dos {
  font-size: large;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 2rem;
}

.titulo_lista_herramientas {
  padding-left: 3rem;
  padding-right: 3rem;
}

.lista_herramientas {
  padding-left: 3rem;
  padding-right: 3rem;
}

.imagen_inicio {
  display: flex;
  justify-content: space-evenly;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 1rem;
}

.img_html {
  max-height: 8rem;
  display: flex;
  width: fit-content;
}

.section_info_index {
  height: 80vh;
  display: flex;
  justify-content: center;
  margin: 0%;
  background: #B79891;
  background: -webkit-linear-gradient(to right, #94716B, #B79891);
  background: linear-gradient(to right, #94716B, #B79891);
}

.titulo_section_cards {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: xx-large;
  text-decoration: solid;
  padding: 2rem;
}

.info_proyecto {
  display: flex;
  height: 23rem;
  border: 1px;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  background-color: rgb(250, 247, 81);
}

.titulo_proyecto {
  text-align: center;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.texto_info {
  background-color: white;
  display: flex;
  width: 100%;
  align-items: center;
  text-align: justify;
  padding: 2rem;
  height: 22.8rem;
  border-radius: 1rem;
}

.imagen_proyecto {
  width: 100%;
  border: 1px;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  background-color: aliceblue;
}

.titulo_ideas {
  margin: 0%;
  padding: 0%;
}

.imagen_proyecto {
  display: flex;
  align-items: center;
}

.content_section {
  display: grid;
  padding: 15%;
  display: flex;
  align-items: center;
  height: 100vh;
  align-items: center;
}

.titulo_form {
  margin: 3%;
  background-color: rgba(250, 235, 215, 0.732);
  padding: 5px;
  position: absolute;
  top: 20%;
  width: fit-content;
}

.formulario_ideas {
  background-color: rgba(0, 0, 0, 0.625);
  padding: 1rem;
  border-radius: 5px;
  border-color: black;
  color: white;
  width: 100%;
}

.form_section {
  width: 100%;
  height: max-content;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2.5rem;
  font-family: "Lobster", cursive;
}

.wrapper {
  animation: scroll 70s linear infinite;
  background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"), #111111;
  color: #eee;
  height: 100vh;
  min-width: 360px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
}

@keyframes scroll {
  100% {
    background-position: 0px -3000px;
  }
}
.contact_text {
  color: #eee;
  background-color: rgba(17, 17, 17, 0.7254901961);
  padding: 3rem;
  text-align: left;
  justify-content: left;
  border-radius: 1%;
}

.carta_presentacion {
  height: 100%;
}

.col-md-6 {
  width: max-content;
  height: max-content;
}

.footer_index {
  background-color: #edf6f9;
  display: flex;
  position: absolute;
  width: 100%;
  height: 12rem;
  bottom: 0;
  text-align: start;
  justify-content: center;
  align-items: center;
}

.logo_footer {
  font-size: xx-large;
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
}

.footer_ecommerce {
  background-color: #edf6f9;
  display: flex;
  position: absolute;
  width: 100%;
  height: 21rem;
  bottom: 5;
  text-align: start;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1380px) {
  .texto_info {
    font-size: small;
  }
}
@media screen and (max-width: 1280px) {
  .container_nav {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .texto_info {
    width: max-content;
  }
  .container_ecommerce {
    padding-top: 70vh;
  }
}
@media screen and (max-width: 900px) {
  .informacion_bienvenida {
    width: 100%;
    height: max-content;
  }
}
@media screen and (max-width: 770px) {
  body {
    padding-bottom: 0vh;
  }
  .content_section {
    height: max-content;
  }
  .informacion_bienvenida {
    margin-top: 5vh;
  }
  .section_info_index {
    height: 100%;
    position: relative;
  }
  .img_html {
    height: 10vh;
  }
  .wrapper {
    margin-top: 5vh;
    height: 100%;
    padding-bottom: 25vh;
  }
  .footer_index {
    padding-top: 15vh;
  }
  .label {
    display: grid;
    cursor: pointer;
    grid-column: 3;
    padding-right: 10px;
  }
  .content_nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1/4;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    transition: all ease-in-out 0.6s;
  }
  .nav_checkbox input:checked ~ .content_nav {
    max-height: 500px;
  }
  .content_nav li {
    padding: 15px 0px;
  }
}
@media screen and (max-width: 600px) {
  .texto_info {
    font-size: smaller;
  }
}
@media screen and (max-width: 450px) {
  .img_html {
    height: 8vh;
  }
}
@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 200s linear infinite;
  }
}

/*# sourceMappingURL=style.css.map */
